################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlavorFlaveProto
/ProtoFiles/obj/Debug/net7.0-android/android/bin
/.vs
/ProtoFiles/obj/Debug/net7.0-android/android
/ProtoFiles/obj/Debug/net7.0-android/app_shared_libraries/x86_64
/ProtoFiles/obj/Debug/net7.0-android/assets
/ProtoFiles/obj/Debug/net7.0-android/stamp
/.vs/ProtoFiles/v17/.suo
/.vs/ProtoFiles/v17/.suo
/ProtoFiles/obj/Debug/net7.0-android/acw-map.txt
/ProtoFiles/obj/Debug/net7.0-android/android_debug_keystore.flag
/ProtoFiles/obj/Debug/net7.0-android/buildid.txt
/ProtoFiles/obj/Debug/net7.0-android/libraryprojectimports.cache
/ProtoFiles/obj/Debug/net7.0-android/ProtoFiles.assets.cache
/ProtoFiles/obj/Debug/net7.0-android/ProtoFiles.GeneratedMSBuildEditorConfig.editorconfig
/ProtoFiles/obj/Debug/net7.0-android/resolvedassemblies.hash
/ProtoFiles/obj/Debug/net7.0-android/static.flag
/ProtoFiles/obj/Debug/net7.0-android/upload.flag
/ProtoFiles/obj/Debug/net7.0-ios/iossimulator-x64/ProtoFiles.assets.cache
/ProtoFiles/obj/Debug/net7.0-ios/iossimulator-x64/ProtoFiles.GeneratedMSBuildEditorConfig.editorconfig
/ProtoFiles/obj/Debug/net7.0-ios/iossimulator-x64/ProtoFiles.nfloat.g.cs
/ProtoFiles/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/ProtoFiles.assets.cache
/ProtoFiles/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/ProtoFiles.GeneratedMSBuildEditorConfig.editorconfig
/ProtoFiles/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/ProtoFiles.nfloat.g.cs
/ProtoFiles/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/ProtoFiles.assets.cache
/ProtoFiles/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/ProtoFiles.GeneratedMSBuildEditorConfig.editorconfig
/ProtoFiles.zip
/ProtoFiles/ProtoFiles.csproj.user
